* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 36px;
}
.site-name{
    font-size: 36px;
    font-weight: 500;

}
ul {

    list-style-type: none;

}
li {
    display: inline-block;
    font-size: 18px;

  &:first-child{
      margin-right: 44px;
     }
  
  &:nth-child(2){
      margin-right: 44px;
     }
}

li a {
    text-decoration: none;
    color: black;
}

.hero-section{
    height: 100vh;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 120px;
    line-height: 106px;
    margin-bottom: 72px;

}

h2{
    font-size: 32px;
    font-weight: 500;
}

.call-to-action{
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    font-weight: 700;
}

.info-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 320px;
    border: 1px solid black;

    .info-section-item{
        display: flex;
        flex-direction: column;
        &:first-child{
            border-right: 1px solid black;
        }
        &:nth-child(2){
            border-right: 1px solid black;
        }
    }
}

h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 243px;
    margin-left: 36px;
    margin-top: 31px;
}

h5{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 353px;
    margin-left: 36px;

} 

.info-section-item .call-to-action{
    margin-top: auto;
    margin-left: 36px;
    margin-bottom: 45px;
    
}
.site-name-bottom {
    font-size: 20px;
    font-weight: 600;
}

footer {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
}

h6 {
    font-size: 11px;
    font-weight: 400;
    padding-top: 8px;
    width: 248px;
}

footer {
    position: relative;
}

nav-container{
    font-weight: 600;
}

.social-media {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 65px; 
}

link-box {
    position: absolute;
    top: 0;
    right: 36px;
}

.link-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column; 
}

.link-box li {
    margin-bottom: 10px;
    display: block; 
}

.link-box li a {
    display: block; 
}
